<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developers.super_chuck">

    <application>
        <activity
            android:name=".internal.view.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Chuck.Theme"
            />

        <provider
            android:name=".internal.data.ChuckContentProvider"
            android:authorities="${applicationId}.chuck.provider"
            android:exported="false" />

        <activity android:name=".internal.view.TransactionActivity"
            android:theme="@style/Chuck.Theme"
            android:parentActivityName=".internal.view.MainActivity"

            />
        <service
            android:name=".internal.helper.ClearTransactionsService"
            android:exported="false" />
    </application>

</manifest>